@import 'blocks_header/grid.css';
@import 'blocks_header/page.css';
@import 'blocks_header/header.css';
@import 'blocks_header/logo.css';
@import 'blocks_header/menu.css';
@import 'blocks_header/main.css';

.header__logo p {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 63px;
    color: #A0A0A0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    word-spacing: 0;
}

.header__logo p span {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 63px;
    color: #5222D0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}


.section {
    padding: 0 16px;
}

.text-block {
    padding: 0;
}

.text-block__text {
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: calc(12px + 1vw);
    line-height: inherit;
    color: #343434;
}

.text-block__text_unit {
    margin: 0;
}

.text-block__text_center {
    text-align: center;
}

.text-block__text-title {
    margin: 0;
}

.text-block__title {
    color: #5222D0;
    font-size: calc(22px + 1vw);
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.text-block__title_left {
    margin-left: 40px;
}

.text-block__title_center {
    text-align: center;
}

.text-block_summary, .text-block_goal {
    margin-top: 150px;
}

.text-block_advantages {
    margin-top: 50px;
}

.colored_text {
    color: #5222D0;
}

.line {
    display: none;
}

.about {
    margin-top: 100px;
}

.dates {
    margin-top: 60px;
}

.advantages {
    margin-top: 60px;
}

@media (max-width: 1400px) {
    .image-block__image_partners {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .text-block_summary {
        margin-top: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1320px) {
    .image-block__image_partners {
        height: 85%;
    }
}

@media (max-width: 992px) {
    .line {
        display: block;
    }

    .about, .text-block_goal, .text-block_advantages {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .text-block__text_center {
        text-align: left;
    }
}

@media (max-width: 576px) {
    .image-block__image {
        margin-top: 30px;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .image-block {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}